body {
  font-family: Times, serif;
  font-size: 22px;
  line-height: 34px;
  font-weight: 400;
}

.index-header {
  padding-bottom: 60px;

  color: white;

  background-color: #FD739C;
}

.index-header__title {
  margin-bottom: 35px;

  font-family: "Arial", "Helvetica", sans-serif;
  line-height: 1.4;
}

.aboutme__title, .changelog__title {
  font-family: "Arial", "Helvetica", sans-serif;
}

.index-header__index-menu {
  margin-bottom: 120px;
}

.index-header__sub-title {
  font-family: "Arial", "Helvetica", sans-serif;
}

.aboutme {
  padding-top: 60px;
}

.changelog {
  padding-top: 60px;
}
